<!-- Featured Post -->
{{ $data := .siteData }}
{{ range .firstpost }}
    {{ if not .Params.hide }}
        <article class="post featured">
            <header class="major">
                {{ if not .Date.IsZero }}
                    <span class="date">{{ .Date.Format (.Site.Params.DateFormat | default "2006-01-02") }}</span>
                {{ else }}
                    <span class="date">{{ now.Format (.Site.Params.DateFormat | default "2006-01-02") }}</span>
                {{ end }}
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                {{ if .Description }}
                <p>{{ .Description }}</p>
                {{ else }}
                <p>{{ .Summary }}</p>
                {{ end }}
            </header>
            {{ if .Params.image }}
            <a href="{{ .Permalink }}" class="image main"><img src="{{ .Params.image | relURL }}" alt="" /></a>
            {{ end }}
            <ul class="actions">
                <li><a href="{{ .Permalink }}" class="button big">{{ $data.post.linktext }}</a></li>
            </ul>
        </article>
    {{ end }}
{{ end }}